In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")

In [35]:
dataset = pd.read_csv('spam.csv')

In [36]:
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [37]:
dataset.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [38]:
sms = dataset["v2"]

In [39]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^A-Za-z0-9]", " ", text)
    text = re.sub(r"\d+", "", text)
    text = re.sub(r"[^\w\s]", "", text)
    stop_words_eng = stopwords.words("english")
    text = " ".join([word for word in text.split() if word not in stop_words_eng])
    text = " ".join([word for word in text.split() if len(word) > 2])   
    return text

    
text = [clean_text(word) for word in sms]

In [40]:
text[:5]

['jurong point crazy available bugis great world buffet cine got amore wat',
 'lar joking wif oni',
 'free entry wkly comp win cup final tkts may text receive entry question std txt rate apply',
 'dun say early hor already say',
 'nah think goes usf lives around though']

In [41]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(text)

In [42]:
feature_names = vectorizer.get_feature_names_out()

In [43]:
tfidf_score = X.mean(axis=0).A1

In [44]:
df_tfidf = pd.DataFrame({"word": feature_names, "score": tfidf_score})
df_tfidf.head()

          word     score
0          aah  0.000242
1       aaniye  0.000033
2  aaooooright  0.000156
3        aathi  0.000768
4        abbey  0.000099

In [45]:
df_tfidf_sorted = df_tfidf.sort_values(by = "score", ascending=False)
df_tfidf_sorted.head()

      word     score
903   call  0.022113
2519   get  0.014678
1226  come  0.012135
2589  good  0.010857
3384  know  0.010605