In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
documents = ["Köpek çok tatlı bir hayvandır.",
             "Köpek ve kuşlar çok tatlı hayvanlardır.",
             "Inekler süt üretirler."]

In [12]:
tf_idf_vectorizer = TfidfVectorizer()

In [13]:
X = tf_idf_vectorizer.fit_transform(documents)  # <3x12 sparse matrix of type '<class 'numpy.float64'>'

In [16]:
feature_names = tf_idf_vectorizer.get_feature_names_out() # array(['bir', 'hayvandır', 'hayvanlardır', 'inekler', 'kuşlar', 'köpek', 'süt', 'tatlı', 've', 'çok', 'üretirler'])

In [17]:
vector_temsili = X.toarray()

In [21]:
dataset_tf_idf = pd.DataFrame(vector_temsili, columns = feature_names)
dataset_tf_idf

,bir,hayvandır,hayvanlardır,inekler,kuşlar,köpek,süt,tatlı,ve,çok,üretirler
0,0.51742,0.51742,0.000000,0.00000,0.000000,0.393511,0.00000,0.393511,0.000000,0.393511,0.00000
1,0.00000,0.00000,0.459548,0.00000,0.459548,0.349498,0.00000,0.349498,0.459548,0.349498,0.00000
2,0.00000,0.00000,0.000000,0.57735,0.000000,0.000000,0.57735,0.000000,0.000000,0.000000,0.57735

In [23]:
tf_idf = dataset_tf_idf.mean(axis = 0)
tf_idf

bir             0.172473
hayvandır       0.172473
hayvanlardır    0.153183
inekler         0.192450
kuşlar          0.153183
köpek           0.247670
süt             0.192450
tatlı           0.247670
ve              0.153183
çok             0.247670
üretirler       0.192450
dtype: float64