In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")

In [23]:
dataset = pd.read_csv('../IMDB Dataset.csv')

In [24]:
dataset.columns

Index(['review', 'sentiment'], dtype='object')

In [25]:
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [26]:
documents = dataset["review"]

In [27]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^A-Za-z0-9]", " ", text)
    text = re.sub(r"\d+", "", text)
    text = re.sub(r"[^\w\s]", "", text)
    stop_words_eng = stopwords.words("english")
    text = " ".join([word for word in text.split() if word not in stop_words_eng])
    text = " ".join([word for word in text.split() if len(word) > 2])   
    return text

cleaned_documents = [clean_text(document) for document in documents]

In [28]:
vectorizer = TfidfVectorizer()

In [29]:
X = vectorizer.fit_transform(cleaned_documents)

In [30]:
feature_names = vectorizer.get_feature_names_out()

In [31]:
tf_idf_score = X.mean(axis=0).A1

In [32]:
tf_idf_dataset = pd.DataFrame({"words": feature_names, "score": tf_idf_score})

In [36]:
tf_idf_dataset_score = tf_idf_dataset.sort_values(by = "score", ascending=False)
tf_idf_dataset_score[:10]

        words     score
57771   movie  0.046736
31213    film  0.038319
61603     one  0.025527
50394    like  0.021850
36009    good  0.019540
70698  really  0.016619
97284   would  0.016142
88115    time  0.016105
83455   story  0.016101
77015     see  0.016029