In [1]:
import pandas as pd
import spacy

In [5]:
nlp = spacy.load("en_core_web_sm")

In [6]:
content = "Alice works at Amazon and lives in London. She visited the British Museum last week."

In [7]:
doc = nlp(content)
for ent in doc.ents:
    print(ent.text, ent.label_)

Alice PERSON
Amazon ORG
London GPE
the British Museum ORG
last week DATE

In [10]:
# ent.lemma_ -> varlığın kök hali
entities = [(ent.text, ent.label_) for ent in doc.ents]
entities

[('Alice', 'PERSON'),
 ('Amazon', 'ORG'),
 ('London', 'GPE'),
 ('the British Museum', 'ORG'),
 ('last week', 'DATE')]

In [11]:
data = pd.DataFrame(entities, columns = ["text", "type"])
data

                 text    type
0               Alice  PERSON
1              Amazon     ORG
2              London     GPE
3  the British Museum     ORG
4           last week    DATE